<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/notes.css" rel="stylesheet">
</head>
<body>
<div class="g-topbar">
    <a href="/notes"><h2>Mis notas</h2></a>
</div>
<div class="page-top-infinite">
    <div class="page-info">
        <div class="content">
            <p>Tus notas:</p>
            <ul id="noteplaceholder">
                <li id="placeholder">Cargando...</li>
            </ul>
            <button id="new_note">Nueva nota</button>
        </div>
    </div>
</div>
</body>
<script src="/static/notes.js"></script>
<script>
    const newNoteButton = document.querySelector('#new_note');
    newNoteButton.addEventListener('click', () => {
        window.location.href = '/notes/new';
    });
</script>
</html>